<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Product</title>
    <link rel="stylesheet" href="/css/main.css"></link>
    <link rel="stylesheet" href="/css/addProduct.css"></link>
  </head>
  <body>
    <header class="main-header">
      <nav class="main-header__nav">
        <ul class="main-header__item-list">
          <li class="main-header__item">
            <a href="/admin/add-product" class="active">Add Products</a>
          </li>
          <li class="main-header__item"><a href="/shop">Shop</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <form class="product-form" action="/admin/add-product" method="POST">
        <div class="form-control">
          <label for="title">Item name:</label>
          <input type="text" name="title" id="title" />
        </div>
        <button type="submit">Add product</button>
      </form>
    </main>
  </body>
</html>
