<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shop</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/admin/add-product"> add Product</a></li>
          <li><a href="/shop"> shop</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Welcome to shop</h1>
      <p>all shop items will be here</p>
    </main>
  </body>
</html>
